.container{
  width: 100%;
  max-width: 1024px;
  margin: 40px auto 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main{
  width: 100%;
}

.main h1{
  margin-bottom: 14px;
}

.task{
  border: 1.5px solid #909090;
  padding: 14px;
  line-height: 150%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task p{
  white-space: pre-wrap;
  width: 100%;
}

.comentsContainer{
  width: 100%;
  margin: 18px 0;
  max-width: 1024px;
}

.comentsContainer h2{
  margin: 14px 0;
}

.button{
  width: 100%;
  padding: 18px 0;
  border: 0;
  border-radius: 4px;
  background-color: #318fff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}